xml/hospital.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified">

    <!-- ========== Tipos simples reutilizáveis ========== -->
    <xs:simpleType name="cpfType">
        <xs:restriction base="xs:string">
            <xs:pattern value="\d{11}"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="dataType">
        <xs:restriction base="xs:string">
            <xs:pattern value="\d{6}"/> <!-- ddmmyy -->
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="horaType">
        <xs:restriction base="xs:string">
            <xs:pattern value="\d{6}"/> <!-- HHMMSS -->
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="quantidadePrescricaoType">
        <xs:restriction base="xs:integer">
            <xs:totalDigits value="8"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="valorCentavosType">
        <xs:restriction base="xs:integer">
            <xs:totalDigits value="12"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="md5Type">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-F0-9]{32}"/>
        </xs:restriction>
    </xs:simpleType>

    <!-- ========== Prescrição ========== -->
    <xs:element name="prescricao">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id_prescricao" type="xs:integer"/>
                <xs:element name="cpf_paciente" type="cpfType"/>
                <xs:element name="data_prescricao" type="dataType"/>
                <xs:element name="hora_prescricao" type="horaType"/>
                <xs:element name="crm_medico">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:maxLength value="15"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="codigo_medicamento">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:maxLength value="20"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="quantidade" type="quantidadePrescricaoType"/>
                <xs:element name="unidade" minOccurs="0">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:length value="4"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="observacao" minOccurs="0">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:maxLength value="100"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- ========== Encerramento ========== -->
    <xs:element name="encerramentoDiario">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="cabecalho">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="tipoRegistro" fixed="H"/>
                            <xs:element name="data" type="dataType"/>
                            <xs:element name="hora" type="horaType"/>
                            <xs:element name="versao" type="xs:string" fixed="00001"/>
                            <xs:element name="totalRegistros" type="xs:integer"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="atendimentos">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="atendimento" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="id_atendimento" type="xs:integer"/>
                                        <xs:element name="cpf_paciente" type="cpfType"/>
                                        <xs:element name="data_encerramento" type="dataType"/>
                                        <xs:element name="hora_encerramento" type="horaType"/>
                                        <xs:element name="tipo" minOccurs="0">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:length value="1"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="crm_medico" minOccurs="0">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:maxLength value="15"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="cid_principal" minOccurs="0">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:maxLength value="10"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="procedimento" minOccurs="0">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:maxLength value="20"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="quantidade_medicamentos" type="xs:integer"/>
                                        <xs:element name="valor_procedimentos_centavos" type="valorCentavosType"/>
                                        <xs:element name="convenio" minOccurs="0">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:maxLength value="30"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="carteirinha" minOccurs="0">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:maxLength value="20"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="observacao" minOccurs="0">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:maxLength value="100"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="trailer">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="tipoRegistro" fixed="T"/>
                            <xs:element name="totalRegistros" type="xs:integer"/>
                            <xs:element name="somaValoresCentavos" type="valorCentavosType"/>
                            <xs:element name="hashMD5" type="md5Type"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- ========== Retorno do Estoque ========== -->
    <xs:element name="retornoEstoque">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="retorno" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="id_prescricao" type="xs:integer"/>
                            <xs:element name="codigo_medicamento">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:maxLength value="20"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="disponivel">
                                <xs:simpleType>
                                    <xs:restriction base="xs:integer">
                                        <xs:enumeration value="0"/>
                                        <xs:enumeration value="1"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="observacao" minOccurs="0">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:maxLength value="100"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>