entrega3_impl/schemas/finalizacao.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="finalizacaoAtendimento">
    <xs:complexType>
      <xs:sequence>

        <xs:element name="id_atendimento"   type="xs:positiveInteger"/>
        <xs:element name="cpf_paciente"     type="xs:string"/>
        <xs:element name="data_atendimento" type="xs:date"/>
        <xs:element name="tipo_atendimento" type="xs:string"/>
        <xs:element name="cid">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:minLength value="3"/>
              <xs:maxLength value="8"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="codigo_tuss"      type="xs:string"/>
        <xs:element name="convenio"         type="xs:string"/>
        <xs:element name="carteirinha"      type="xs:string" minOccurs="0"/>
        <xs:element name="qtd_medicamentos" type="xs:nonNegativeInteger"/>
        <xs:element name="valor_total">
          <xs:simpleType>
            <xs:restriction base="xs:decimal">
              <xs:minInclusive value="0"/>
              <xs:fractionDigits value="2"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="observacoes" type="xs:string" minOccurs="0"/>

      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>